

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #fdf1be;
    color: #333333;
} 

.signup-form {
    display: flex;
    background-color: #333333;
}

.container {
    background-color: #fdf1be;

}

.navbar {
    max-width: 90%;
    margin: 0 auto;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60%;
}

.navbar-nav {
    list-style: none;
}

.admin {
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff9f9;
    background-color: #333333;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
}

.admin:hover{
    color: #fff9f9;
    background-color: #4d4d4d;
}

.search-bar {
    display: flex;
    gap: 12px;
    align-items: center;
}
.form-control {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    background-color: #e7e75cd3;
    
}

.search-btn {
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 16px;
    background-color: #9be75cd3;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    gap: 32px;
    margin: 0 auto;
}

.hero-head {
    display: flex;
    flex-direction: column;
}

.primary-head {
    margin-bottom: 16px;
    font-size: 52px;
}
.lead {
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
    max-width: 85%;
}

.cta-btn {
    max-width: 50%;
}

.btn-flex {
    display: flex;
    align-items: center;
    gap: 16px;
}
.signin-btn {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-left: 24px;
    background-color: #44d744;
    cursor: pointer;
    transition: all 0.3s;
}
.signin-btn:hover {
    background-color: #44d7448c;
}
.login-btn {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #9fd744;
    cursor: pointer;
    transition: all 0.3s;
}
.login-btn:hover {
    background-color: #75d7448c;
}

.p-img {
    margin-top: 32px;
} 